body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(205, 205, 205);
}

.container {
    max-width: 50%;
    display: grid;
    margin: 25dvh 25dvw;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'input input' 'city-name country-code' 'temperature temperature';
    height: 50dvh;
}

.search-part {
    background-color: orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: input;
}

.search-part input {
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    outline: none;
}


#city-name {
    background-color: white;
    grid-area: city-name;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

#country-code {
    background-color: white;
    grid-area: country-code;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

#temperature {
    background-color: white;
    grid-area: temperature;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}