body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(205, 205, 205);
}

.container {
    max-width: 50%;
    display: grid;
    margin: 25dvh 25dvw;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'input input' 'city-name country-code' 'temperature temperature';
    height: 50dvh;
}

.search-part {
    background-color: orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: input;
}

.search-part input {
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    outline: none;
}

.search-part i {
    color: white;
    cursor: pointer;
    padding: 10px;
}

.search-part i:hover {
    opacity: 0.7;
}

.search-part i:active {
    opacity: 0.5;
}


.city-name {
    position: relative;
    background-color: white;
    grid-area: city-name;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.city-name i {
    position: absolute;
    left: 10px;
    top: 10px;
}

.city-name p {
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 20px;
}

.country-code {
    background-color: white;
    grid-area: country-code;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    position: relative;
}

.country-code p {
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 20px;
}

.temperature {
    background-color: white;
    grid-area: temperature;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    position: relative;
}

.temperature p {
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 20px;
    text-transform: capitalize;
}

.fa-thermometer-half {
    position: absolute;
    top: 10px;
    left: 10px;
}

.fa-sun {
    position: absolute;
    top: 10px;
    right: 10px;
    color: yellow;
}